<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header-double">
      <a href="/todos"><button type="button" class="btn navbar-btn pull-left top-btn">
        <span class="glyphicon glyphicon-chevron-left remove" style="color:black;"></span>
      </button></a>
      <h1 class="nowrap title"> &nbsp; &nbsp; {{title}}</h1>
    </div>
</nav><br/><br/>

<form class="form" action="/todos/update/{{doc.uuid}}" method="post" style="margin-right:5px;">
  <div class="form-group">
    <label for="title" class="edit-default">Title:</label>
    <input value="{{doc.title}}" style="font-size:13px;" maxlength="44" type="text" class="form-control" name="title" id="title" placeholder="Enter a todo" required>
  </div>

  <div class="form-group" style="margin-right:4px;">
    <label for="description" class="edit-default">Description</label>
    <input value="{{doc.description}}" style="font-size:13px;word-break:break-word;" type="text" class="form-control edit-default" rows="5" name="description" id="description" placeholder="{{doc.description}}" required>
 </div>

  <div class="form-group">
    <label for="priority" id="priority" class="edit-default">Select Priority:</label>
    <select class="form-control edit-default" id="priority" name="priority">
      {{#select doc.priority}}
      <option value="1" id="1" key="1" class="select-item">Priority 1</option>
      <option value="2" id="2" key="2" class="select-item">Priority 2</option>
      <option value="3" id="3" key="3" class="select-item">Priority 3</option>
      <option value="4" id="4" key="4" class="select-item">Priority 4</option>
      <option value="5" id="5" key="5" class="select-item">Priority 5</option>
      {{/select}}
    </select>
  </div>

  <div class="form-group">
    <label for="inProgress" id="inProgress" class="edit-default">In Progress:</label>
    <select class="form-control edit-default" rows="2" id="inProgress" name="inProgress">
      {{#select doc.inProgress}}
      <option value="false" id="notinProgress" key="false" class="option-md" class="select-item">Not In Progress</option>
      <option value="true" id="inProgress" key="true" class="option-md" class="select-item">In Progress</option>
      {{/select}}
    </select>
  </div>
<br/>

<button type="submit" name="button" class="btn btn-danger btn-lg">
<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>  &nbsp; Save Your Edit
</button></a>
<br/><br/><br/>
