<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <a href="/todos"><button type="button" class="btn btn-default navbar-btn pull-left">
        <span class="glyphicon glyphicon-chevron-left remove"></span>
      </button></a>
      <h1 class="nowrap" style="font-family: Lobster; color: red;"> &nbsp; &nbsp; {{title}}</h1>
    </div>
</nav><br/><br/>

<div class="img-responsive">
  <a href="/todos/edit/{{doc.uuid}}"><button type="button" class="btn btn-info btn-lg">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>  &nbsp; Edit This Todo
  </button></a>

<br/><br/><br/>

<div class="panel panel-default table-responsive">
  <div class="panel-heading">
  <a href="/todos/edit/{{doc.uuid}}" class="left list-group-item active justify-content-between">
  &nbsp; Title: &nbsp;  {{doc.title}}
  </a>
</div>
  <a href="/todos/update/{{doc.uuid}}">
    <a class="list-group-item" href="/todos/{{doc.uuid}}" style="background-color:#f9f9f9;"><span class="label label-danger">Priority: {{doc.priority}}</span></a>
    <a class="list-group-item" href="/todos/edit/{{doc.uuid}}">Description: {{doc.description}}</a>
    <!-- <a class="list-group-item">Completed : {{doc.done}}</a> -->
    <a class="list-group-item" href="/todos/edit/{{doc.uuid}}">Date: {{doc.date}}</a>
    <a class="list-group-item" href="/todos/edit/{{doc.uuid}}">Time: {{doc.time}} PST</a>

    {{#if doc.inProgress}}
        <a class="list-group-item list-group-item-success" href="/todos/edit/{{doc.uuid}}">In Progress</a>
    {{else}}
        <a class="list-group-item list-group-item-warning" href="/todos/edit/{{doc.uuid}}">Not In Progress</a>
    {{/if}}

  </div></div>
</div>
<br/>

<div class="w3-container">
  <a href="/todos/new"><button type="button" name="button" class="w3-button w3-large w3-circle w3-red w3-card-4">+</button></a>
  &nbsp; &nbsp;
  <a href="/todos/delete/{{doc.uuid}}"> <button class="w3-button w3-large w3-circle w3-teal">–</button></a>
</div>
<br/><br/><br/>
