<div id="main-nav"></div><br/><br/><br/><br/>

  <div class="col-sm-8 col-sm-offset-2">
    <div class="text-center">

      {{#if message}}
        <div class="alert alert-danger edit-default">{{message}}</div>
      {{/if}}

      <div class="jumbotron">
        {{#if user.local.email}}
          <h1>Profile</h1><br/>
          <img src="https://avatars.io/static/default_128.jpg" class="img-circle"><br/><br/>
          <strong>Email</strong>: {{user.local.email}}<br>
          <strong>User ID</strong>: {{user._id}}<br>
          <strong>Date Joined</strong>: {{user.local.dateJoin}}<br>
          <br/>
        {{/if}}

        <figure>
          <a href="/todos"><button type="button" class="btn btn-success btn-lg">
          <div class="front-format"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> &nbsp; <div style="padding:4px;">See Your Todos!</div>
          </button></a>
        </figure><br/>
      </div>

    <br/><br/>
    <a href="/logout"><button class="btn btn-danger btn-lg">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>  &nbsp; Log Out &nbsp;
    </button></a>

    </div>
  </div>

  <script>
  document.addEventListener('DOMContentLoaded', function navLaunch() {
  var is_safari = navigator.vendor && navigator.vendor.indexOf('Apple') > -1 &&
                 navigator.userAgent && !navigator.userAgent.match('CriOS');
  if(!is_safari) {
    navBar = "<nav class='navbar navbar-inverse navbar-fixed-top'> <div class='navbar-header-double'> <a href='/todos'><button type='button' class='btn navbar-btn pull-left top-btn'> <span class='glyphicon glyphicon-chevron-left remove' style='color:black;'></span> </button></a> <h1 class='nowrap title'> &nbsp; &nbsp; {{title}}</h1> </div> </nav>";
    document.querySelector('#main-nav').innerHTML = navBar;
  } else {
    navBar = "<div class='min-standard'> <nav class='navbar navbar-inverse navbar-fixed-top'> <div class='navbar-header' style='float:center;'> <a href='/todos'><button type='button' class='btn navbar-btn'> <span class='glyphicon glyphicon-chevron-left' style='color:black;margin-right:5px;'></span> </button></a> </div></nav><br/>"
    document.querySelector('#main-nav').innerHTML = navBar;
  }});
  </script>
